{% extends 'base.html' %}
{% block content %}

<h1>Trash Details </h1>

<div class="row">
  <!-- Column 1 -->
  <div class="col s6">
    <div class="card">
      <a href="{% url 'detail' trash.id %}">
        <div class="card-content">
          <span class="card-title">{{ trash.name }}</span>
          <p>type: {{ trash.type }}</p>
          <p>Description: {{ trash.description }}</p>
          <div class="card-action">
              <a href="{% url 'trash_update' trash.id %}">Edit</a>
              <a href="{% url 'trash_delete' trash.id %}">Delete</a>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- Column 2 -->
  <div class="col s6">
    <form action="{% url 'add_feeding' trash.id %}" method="post">
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <input type="submit" class="btn" value="Add Feeding">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in trash.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="row">
  <!-- Column 1 -->
  <div class="col s6">
    <h3>{{ trash.name }}'s Uses</h3>
    {% if trash.uses.count %}
      {% for use in trash.uses.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              Use: {{ use.use }}
            </span>
            <span class="card-title">
              Rating: {{ use.rating }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No use found :(</h5>
    {% endif %}
  </div>
  <!-- Column 2 -->
  <div class="col s6">
    <h3>Available Uses</h3>
    {% if use.count %}
      {% for use in uses.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ use.category }}
            </span>
          </div>
          <div class="card-action">
            <form action="" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>Wow! A {{trash.name}} is useful for everything!</h5>
    {% endif %}
  </div>
</div>

<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  var selectEl = document.getElementById('id_meal');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}